/*
* @Author: surpe
* @Date:   2017-10-22 23:50:30
* @Last Modified by:   surpe
* @Last Modified time: 2017-10-29 13:12:23
*/
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","宋体",sans-serif;
	list-style: none;
}
html,body{
	width: 100%;
}
a{
	text-decoration: none;
}
img{
	display: block;
	width: 100%;
	height: 100%;
}
nav{
	width: 100%;
	height: auto;
	padding: 20px;
	background: url('../image/banner2.jpg') no-repeat center/cover;
	box-sizing: border-box;
	margin-bottom: 70px;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-left{
	font-size: 24px;
	font-weight: bold;
	color: #333;
}
.nav-list{
    display: flex;
}
.nav-list>li{
	padding: 5px 15px;
}
.nav-list>li>a{
	font-size: 14px;
	color: #333;
	font-weight: bold;
}
.nav-list>li:hover{
	background: #333;
	border-radius: 15px;	
}
.nav-list>li:hover>a{
	color: #fff;
}
.content{
	width: 100%;
	height: auto;
	padding: 70px 0;
}
.content-label{
   width: 100%;
   height: auto;
   text-align: center;
   margin-bottom: 50px;
}
.content-label>span{
	display: block;
}
.content-label>span:first-child{
	font-size: 22px;
	color: #333;
	line-height: 40px;
}
.content-label>span:nth-child(2){
	font-size: 20px;
	color: #959595;
	line-height: 36px;
}
.content-label>p{
	font-size: 14px;
	color: #959595;
	line-height: 30px;
	margin-bottom: 10px;
}
.top{
	padding: 50px 50px;
	box-sizing: border-box;
	background: #F5CEAD;
}
.top>li>img{
	margin-bottom: 30px;
}
.top p{
    font-size: 14px;
    color: #959595;
    line-height: 24px;
    margin-bottom: 30px;
}
.why{
	padding: 30px 100px;
}
.why>.content-label>p{
	margin-bottom: 50px;
}
.how{
	padding: 30px 100px;
}
.how>.content-label>p{
	margin-bottom: 50px;
}
.img{
    margin-bottom: 30px;
}
.about{
	width: 100%;
	height: auto;
	background: #f6f6f6;
	padding: 70px 0;
}
.method{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 20px 30px;
	margin: 10px 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}
.method>li{
    margin-bottom: 50px;
}
.method>li>span{
	display: block;
}
.method>li>span:first-child{
	width: 50px;
	height: 50px;
	font-size: 36px;
	text-align: center;
	line-height: 50px;
	color: #333;
	cursor: pointer;
}
.method>li>span:nth-child(2){
	font-size: 16px;
	color: #333;
	line-height: 32px;
	font-weight: bold;
}
.method>li>span:nth-child(3){
	font-size: 14px;
	color: #9B9595;
	line-height: 30px;
}
.message{
	width: 100%;
	height: auto;
	/* padding: 0 30px; */
	margin: 10px 0;	
}
.message>input,.textarea{
   width: 100%;
   height: auto;
   padding: 20px 10px;
   margin-bottom: 50px;
   border: none;
   background: #fff;   
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
   box-sizing: border-box;
   font-size: 16px;
}
.textarea{
	display: flex;
	padding: 0;
	overflow: hidden;
	height: 240px;
}
.textarea>textarea{
	resize: none;
	border: none;
	width: 80%;
	padding: 20px 10px;
	height: 200px;
	font-size: 16px;
}
.textarea>.submit{
	width: 20%;
	height: 100%;
	background: #333;
	font-size: 50px;
	text-align: center;
	line-height: 240px;
	color: #fff;
	cursor: pointer;
}
footer{
	width: 100%;
	height: auto;
	background: #333;
	padding: 50px;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
}
footer>ul{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
footer>ul>li{
	margin-right: 10px;
}
